@font-face {
	font-family: 'Nexa Script Thin';
	src: url('fonts/nexa_script_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/nexa_script_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/nexa_script_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/nexa_script_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/nexa_script_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/nexa_script_thin.svg#nexa_script_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

h1 {
    color: rgb(7, 123, 112);
    font-family: 'Nexa Script Thin', sans-serif;
}

.center {
	text-align: center;
}

h3 {
	color: #651ba1;
    font-family: 'Nexa Script Thin', sans-serif;
}

ul {
    list-style-type: circle;
}

dt {
	color: #4d85ce;
}

body {
    background-color: rgb(203, 193, 222);
	margin: 0% 5% 10%;
}

a{
    text-decoration: none;
	font-size: 10px;
}

.image {
	text-align: center;
	max-width: 600px;
	margin: auto;
	width: 100%;
}

img {
	width: 600px;
}
